@import "tailwindcss";
@plugin "daisyui" {
  themes: light-default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: purple;
  --color-secondary: teal;
}

.btn-accent {
  @apply bg-linear-to-r from-[#632ee3] to-[#9f62f2] border-none text-white;
}
.btn-primary:hover {
  @apply opacity-90;
}
